@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
        url("../fonts/Gilroy-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
        url("../fonts/Gilroy-Medium.woff2") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
        url("../fonts/Gilroy-Regular.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
        url("../fonts/Gilroy-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root{
  --64px: 64px;
  --56px: 56px;
  --40px: 40px;
  --32px: 32px;
  --28px: 28px;
  --24px: 24px;
  --20px: 20px;
  --18px: 18px;
  --16xp: 16px;

  --blue-grad: linear-gradient(140.28deg, #1878F3 -24.89%, #1051F6 144.16%);
  --blue: #1878F3;
}

html{
  scroll-behavior: smooth;
}

body{
    font-family: "Gilroy", sans-serif;
    background: #000 !important;
    color: white !important;
}

.container{
  margin: 0 auto !important;
  max-width: 1440px !important;
}

a{
  text-decoration: none;
  color: unset;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.navbar{
    padding: 32px 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    transition: .3s;
}

.scroll-header{
  background: #000;
  padding: 20px 0;
}

.navbar__right{
    display: flex;
    align-items: center;
    gap: 70px;
}

.navbar__toggler{
    cursor: pointer;
    padding: 10px;
}

.toggle{
    height: 2px;
    width: 25px;
    background: white;
    position: relative;
}

.toggle::after{
    position: absolute;
    top: 8px;
    right: 0;
    content: '';
    height: 2px;
    width: 30px;
    background: white;
}

.toggle::before{
    position: absolute;
    top: -8px;
    right: 0;
    content: '';
    height: 2px;
    width: 20px;
    background: white;
}

.navbar__lang-link{
    color: white;
    text-decoration: none;
    margin-right: 24px;
    font-size: 20px;
    font-weight: 500;
    transition: .3s;
    opacity: .5;
}

.navbar__lang-link:last-child{
    margin-right: 0;
}

.navbar__lang-link:hover{
    opacity: 1;
    color: white;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/home.gif) center no-repeat;
    background-size: cover;
    position: relative;
}

.home::after{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.568);
}

.home__container{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

.home__title{
    font-size: 86px;
    line-height: 96px;
    font-weight: 700;
    margin-bottom: 25px;
}

.transparent__txt{
    color: transparent;
    -webkit-text-stroke: 1.5px white;
}

.home__sub{
    font-size: var(--24px);
    line-height: 36px;
    max-width: 670px;
    opacity: .8;
}

.home__button{
  display: flex;
  align-items: flex-end;
}

.home__btn{
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: -50%;
  transition: .3s;
}

.home__btn img{
  transition: .3s;
}

.home__btn:hover img{
  transform: rotate(30deg);
}

.home__scroll{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer !important; 
  z-index: 9;
}

.home__scroll-btn{
  border: 1px solid white;
  background: transparent;
  width: 40px;
  height: 65px;
  border-radius: 32px;
  cursor: pointer !important;
  position: relative;
}

.home__scroll-btn::after{
  width: 12px;
  height: 12px;
  background: white;
  content: "";
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  animation: down 1.5s infinite;
}

@keyframes down {
  0% {top: 15%;
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {top: 70%;
    opacity: 0.1;
  }
}

.section{
  padding: 120px 0 120px 0; 
}

.port__card{
  margin-bottom: 80px;
}

.port__card-top{
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.port__pic{
  width: 100%;
}

.port__card-title{
  font-size: var(--32px);
  font-weight: 600;
}

.port__card-link{
  margin-right: 30px;
  font-weight: 500;
  opacity: .5; 
  transition: .3s;
}

.port__card-link:hover{
  opacity: 1;
  color: white;
}

.active__link{
  opacity: 1;
  margin-right: 0;
}

.reload__button{
  display: flex;
  justify-content: center;
}

.reload__btn{
  width: 200px;
  height: 200px;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
}

.reload__btn img{
  transition: 1s;
}

.reload__btn:hover img{
  transform: rotate(360deg);
}

.about{
  background: white;
  color: black;
}

.about__grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.about__pic{
  width: 100%;
}

.about__content{
  margin-bottom: 50px;
}

.about__title{
  font-size: 72px !important;
  line-height: 80px;
  font-weight: 600;
  margin-bottom: 24px;
}

.blue__txt{
  color: var(--blue);
}

.about__sub{
  font-size: var(--32px);
  line-height: var(--40px);
}

.about__txt{
  font-size: var(--24px);
  line-height: 36px;
  opacity: .8;
  margin-bottom: 40px !important;
  max-width: 95%;
}

.contact{
  padding: 125px 0 215px 0;
}

.contact__title{
  font-weight: 600;
  font-size: var(--64px);
  line-height: 64px;
  margin-bottom: 16px;
}

.contact__sub{
  max-width: 60%;
  font-size: var(--24px);
  line-height: 32px;
  opacity: .8;
}

.contact__txt{
  font-size: var(--20px);
  opacity: .8;
}

.contact__form{
  background: var(--blue-grad);
  height: 100%;
  padding: 40px;
  position: relative;
}

.con__input{
  width: 100%;
  padding: 22px 18px;
  background: transparent;
  border: 1px solid white;
  border-radius: 0;
  color: white;
  opacity: .8;
  transition: .3s;
}

.con__input:focus{
  opacity: 1;
  outline: none;
}

.con__input::placeholder{
  color: white;
}

.flexer{
  gap: 24px;
  margin-bottom: 24px;
}

.con__textarea{
  min-height: 100px;
  width: 100%;
  padding: 22px 18px;
  background: transparent;
  border: 1px solid white;
  border-radius: 0;
  color: white;
  opacity: .8;
  transition: .3s;
  margin-bottom: 20px;
}

.con__textarea:focus{
  opacity: 1;
  outline: none;
}

.con__button-wrapper{
  justify-content: flex-end;
}

.con__button{
  margin-bottom: -25%;
}

.con__select-title{
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: var(--24px);
  font-weight: 600;
}

.justify{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../img/contact.png) no-repeat center;
  background-size: cover;
  padding: 48px;
}

.footer{
  padding: 32px 0;
}

.footer__txt{
  font-size: var(--64px);
  line-height: 72px;
  margin-bottom: .5rem;
}

.footer__container{
  padding-bottom: 40px;
  border-bottom: 1px solid #2b2b2b;
  margin: 0 auto;
}

.footer__bottom{
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--18px);
  opacity: .8;
}

.foot__col-left{
  display: flex;
  justify-content: end;
}

.footer__link,
.footer__socs{
  list-style: none;
  margin-bottom: 1rem;
  font-size: var(--20px);
  font-weight: 500;
  opacity: .7;
  line-height: 32px;
  transition: .3s;
}

.footer__link:hover,
.footer__socs{
  opacity: 1 !important;
}

.footer__a:hover,
.footer__socs,
.footer__txt{
  color: white !important;
}

.footer__socs{
  margin-right: 32px;
}

::-webkit-scrollbar{
  width: .5rem;
  background: hsl(0, 0%, 50%);
}

::-webkit-scrollbar-thumb{
  background: hsl(0, 0%, 17%);
}

.partners__pic{
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.partners__card{
  padding: 24px 0;
  opacity: .6;
  transition: .3s;
  cursor: pointer;
}

.partners__card:hover{
  opacity: 1;
}

.title{
  font-size: var(--64px);
  line-height: 72px;
  font-weight: 600;
  margin-bottom: 60px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: white;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
    background: transparent;
    color: #000 !important;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #000 !important;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.radiohead{
  width: 100% !important;
  height: 64px;
  display: flex !important;
  padding-left: 0 !important;
  justify-content: center;
  align-items: center;
}

.radio__txt{
  z-index: 9;
}

.flexer__select{
  margin-bottom: var(--24px);
}

.rev__card{
  height: 350px;
  border: 1px solid #707070;
  padding: 24px;
}

.rev__card-top{
  display: flex;
  align-items: center;
  margin-bottom: var(--16xp);
}

.rev__card-pic{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: var(--16xp);
}

.rev__card-txt{
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
  line-height: var(--24px);
}

.rev__card-name{
  font-size: var(--24px);
  margin-bottom: .5rem;
}

.rev__card-status{
  opacity: .7;
}

.btns{
  background: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  position: relative;
  left: 60%;
  margin-top: -5%;
  z-index: 99;
}

.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}

.swiper-button-prev{
  left: 20%;
}

.swiper-button-next{
  right: 20%;
}
